@{
    ViewData["Title"] = "Home Page";
}

@model Survey

<div id="container">
    <div id="row">
        <div id="form" class="mx-auto">
            <form asp-action="Result" asp-controller="Home" method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" id="" class="form-control">
                    <span style="color:Red;" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location"></label>
                    <select asp-for="Location" id="" class="form-control">
                    <option value=""></option>
                    <option value="Bellevue">BelleVue</option>
                    <option value="Chicago">Chicago</option>
                    <option value="San Jose">San Jose</option>
                    </select>
                    <span class="text-danger" asp-validation-for="Location"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Language"></label>
                    <select asp-for="Language" id="" class="form-control">
                    <option value=""></option>
                    <option value="MERN">MERN</option>
                    <option value="C#">C#</option>
                    <option value="Python">Python</option>
                    </select>
                    <span class="text-danger" asp-validation-for="Language"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comments"></label>
                    <textarea asp-for="Comments" id="" class="form-control" cols="25" rows="1"></textarea>
                    <span style="color:Red;" asp-validation-for="Comments"></span>
                    <br>
                    <button type="submit">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>
